# Dependencies
node_modules/
__pycache__/
*.pyc

# Database
*.db

# Build output
backend/static/
frontend/dist/

# Data
data/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
ch-image.tar.gz
